global
    log /dev/log local0
    maxconn 2048
    daemon
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5s
    timeout client  1m
    timeout server  1m

# --- MASTER PORT (5432) ---
listen postgres_write
    bind *:5432
    mode tcp
    option httpchk
    http-check expect status 200
    server master 192.168.56.101:5432 check port 8008
    server slave  192.168.56.102:5432 check port 8008 backup

# --- SLAVE PORT (5433) ---
listen postgres_read
    bind *:5433
    mode tcp
    option httpchk
    http-check expect status 503
    server slave  192.168.56.102:5432 check port 8008
    server master 192.168.56.101:5432 check port 8008 backup
